<p>
    Name:<input [(ngModel)]="product.name">
<br> <br>
    Cost:
    <input [(ngModel)]="product.cost">
    
    <br>
    <br>
    <button (click)="saveProduct()">Save </button>
   </p>

   <table>
      <th>Name</th>
      <th>Cost</th>
      <th>Action</th>
      <tr *ngFor="let x of products; let i=index;">
        <td>{{x.name}} </td>
        <td>{{x.cost}}</td>
        <button (click)="deleteProduct(i)">Delete</button>
        <button (click)="editProduct(x)">Edit</button>
    
      </tr>
    
    </table>